<nav class="main-navbar">
  <div class="center-container">
    <div class="center-space-between-content">

      <div class="left-container">
        <button (click)="onToggleSidebar.emit()"
                class="nav-btn menu-btn"><i class="fas fa-bars"></i></button>
      </div>

      <div class="center-container">
        <img class="logo-img" src="assets/img/logo.svg" alt="Igor Amidzic">
      </div>

      <div class="right-container">
        <button class="nav-btn me-btn">
          <div class="name-container">
            {{ me.me?.name || 'Loading' }}
          </div>
        </button>
      </div>
    </div>
  </div>
</nav>
