<app-navbar (onToggleSidebar)="sidenav.toggle()"></app-navbar>

<mat-sidenav-container class="sidemenu-main-container">
  <mat-sidenav #sidenav mode="over"
               class="sidemenu-content-container"
               (backdropClick)="sidenav.toggle()"
               (onToggleSidebar)="sidenav.toggle()">
    <app-sidemenu></app-sidemenu>
  </mat-sidenav>

  <mat-sidenav-content (click)="sidenav.close()">
    <app-sidebar class="sidebar"></app-sidebar>
    <div class="main-page-content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
