@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

$primary_color: #4F87FB;
$primary_color_dark: #326DE6;
$gray_accent_color: #BFC5D1;
$gray_background_color: #F5F6FA;
$border_color: #ECEDF1;
$gray_text_color: #BFC5D1;
$accent_color: #6FCBFA;
$text_color: #19243B;
$success_color: #25C646;
$danger_color: #E23D3D;
$pending_color: #EFE934;

$primary_font: 'Roboto', sans-serif;

.sidemenu-main-container {
  background-color: $gray_background_color;
  position: absolute;
  top: 61px;
  bottom: 0;
  left: 0;
  right: 0;
  .sidemenu-content-container {
    border-right: 1px solid $border_color;
  }

  .main-page-content-container {
    background-color: $gray_background_color;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.card {
  background-color: #ffffff;
  border: 1px solid $border_color;
  border-radius: 3px;
  .card-content {
    padding: 25px;
    position: relative;
    .card-title {
      font-family: $primary_font;
      position: absolute;
      color: $gray_text_color;
      font-weight: 400;
      font-size: 13px;
      margin: 0;
    }
  }
}

.nav-btn {
  border: none;
  outline: none;
  color: $gray_text_color;
  background-color: #ffffff;
  &:hover {
    background-color: lighten($border_color, 2%)
  }
  &:active {
    background-color: $border_color;
  }
}

.center-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: auto;
  .center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .vertical-center-space-between-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .center-left-content {
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 851px) {
  .main-page-content-container {
    //left: 60px;
    left: 0px;
  }
}

@media only screen and (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .main-page-content-container {
    left: 0;
  }
}
