@import '../../../../app.component.scss';

.about-me-container {

  .top-content {
    border-bottom: 1px solid $border_color;
  }

  .profile-image-container {
    text-align: center;
    margin-bottom: 10px;
    .profile-image-background {
      border: 1px solid $primary_color;
      border-radius: 100%;
      margin: auto;
      height: 100px;
      width: 100px;
      background: $gray_background_color no-repeat center center;
      background-size: cover;
    }
  }

  .info-container {
    text-align: center;
    font-family: $primary_font;
    .name {
      font-size: 17px;
      font-weight: 500;
      color: $text_color;
      margin: 0 0 8px 0;
    }

    .description {
      font-size: 13px;
      font-weight: 300;
      color: $primary_color;
      margin: 0;
    }
  }

  .resume-download-container {
    .download-btn {
      border: none;
      padding: 24px 0;
      font-size: 13px;
      width: 100%;
      outline: none;
      color: $gray_text_color;
      font-weight: 300;
      background-color: #ffffff;
      display: block;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: lighten($border_color, 5%);
        cursor: pointer;
        color: $text_color;
      }
    }
  }
}
