<div class="about-me-container card">
  <div class="card-content top-content">
    <div class="profile-image-container">
      <div class="profile-image-background"
           [ngStyle]="{'background-image': 'url(' + me.me?.pro_pic_url + ')'}"></div>
    </div>

    <div class="info-container">
      <h4 class="name">{{ me.me?.name || 'Loading' }}</h4>
      <h5 class="description">{{ me.me?.title || 'Loading' }}</h5>
    </div>
  </div>

  <div class="resume-download-container">
    <a [href]="me.me?.resume_url" target="_blank" class="download-btn" >
      <i class="fas fa-download"></i> Download resume
    </a>
  </div>
</div>
