@import '../../../../app.component.scss';

.about-me-container {
  height: 100%;
  .center-container {
    height: 100%;
    .vertical-center-space-between-content {
      height: 100%;
    }
  }

  .top-content {}

  .profile-image-container {
    text-align: center;
    margin-bottom: 10px;
    .profile-image-background {
      border: 1px solid $primary_color;
      border-radius: 100%;
      margin: auto;
      height: 100px;
      width: 100px;
      background: $gray_background_color no-repeat center center;
      background-size: cover;
    }
  }

  .info-container {
    text-align: center;
    font-family: $primary_font;
    .name {
      font-size: 17px;
      font-weight: 500;
      color: $text_color;
      margin: 0 0 8px 0;
    }

    .name-placeholder {
      height: 17px;
      width: 100px;
      background-color: lighten($border_color, 2%);
      margin: 0 auto 8px auto;
    }

    .description {
      font-size: 13px;
      font-weight: 300;
      color: $primary_color;
      margin: 0;
    }

    .description-placeholder {
      height: 17px;
      width: 150px;
      background-color: lighten($border_color, 2%);
      margin: auto;
    }
  }

  .resume-download-container {
    width: 100%;
    border-top: 1px solid $border_color;
    .download-btn {
      border: none;
      padding: 24px 0;
      font-size: 13px;
      width: 100%;
      outline: none;
      color: $gray_text_color;
      font-weight: 300;
      background-color: #ffffff;
      display: block;
      text-align: center;
      text-decoration: none;

      &:hover {
        background-color: lighten($border_color, 5%);
        cursor: pointer;
        color: $text_color;
      }
    }
  }
}
