<div class="about-me-container card">
  <div class="card-content top-content">
    <div class="profile-image-container">
      <div class="profile-image-background" style="background-image: url('assets/img/pro-pic-3.jpg')"></div>
    </div>

    <div class="info-container">
      <h4 class="name">Igor Amidzic</h4>
      <h5 class="description">Frontend Web Developer</h5>
    </div>
  </div>

  <div class="resume-download-container">
    <button class="download-btn" onclick="window.open('assets/resume.pdf')">
      <i class="fas fa-download"></i> Download resume
    </button>
  </div>
</div>
