<div class="sidebar-container">
  <ul class="btn-list">
    <li class="btn-item">
      <button class="nav-btn sidebar-btn active-btn">
        <i class="fas fa-home"></i>
      </button>
    </li>
    <li class="btn-item">
      <button class="nav-btn sidebar-btn">
        <i class="fas fa-folder"></i>
      </button>
    </li>
    <li class="btn-item">
      <button class="nav-btn sidebar-btn">
        <i class="fas fa-envelope"></i>
      </button>
    </li>
    <li class="btn-item">
      <button class="nav-btn sidebar-btn">
        <i class="fas fa-link"></i>
      </button>
    </li>
  </ul>
</div>
